* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#containerOne {
  /* border: solid red; */
  color: white;
}

div {
  /* border: 1px solid blue; */
  background-color: teal;
  display: inline-block;
  height: 30px;
  width: 149px;
  text-align: center;
  padding: 5px;
}

div:hover {
  background-color: rgb(3, 40, 40);
}

#myElement {
  text-shadow: 2px 2px 2px black;
  border: solid;
  height: 200px;
  width: 200px;

  margin: 100px auto;
  text-align: center;
  padding-top: 50px;

  box-shadow: 10px 10px 9px 1px gray inset;
}

#box1 {
  height: 200px;
  width: 200px;
  /* border: 1px solid; */

  margin: 100px auto;

  box-shadow: 0px 0px 20px 10px gray inset;
  border-radius: 10px;
}

#box2 {
  height: 200px;
  width: 200px;
  /* border: 1px solid; */

  margin: 100px auto;

  -webkit-box-shadow: 0px 0px 36px 26px rgba(110, 122, 111, 0.68);
  -moz-box-shadow: 0px 0px 36px 26px rgba(110, 122, 111, 0.68);
  box-shadow: 0px 0px 36px 26px rgba(110, 122, 111, 0.68);
}

#box3 {
  height: 200px;
  width: 200px;
  /* border: 1px solid; */

  margin: 100px auto;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#box4 {
  height: 200px;
  width: 200px;
  /* border: 1px solid; */

  margin: 100px auto;

  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}
