*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer{
    height: 700px;
    width: 1000px;
    background-color: bisque;
    margin: 100px auto;
    border: solid red;

    position: relative;
}

#mainContainer .categories{
    height: 200px;
    width: 900px;
    border: solid blue;
    margin: 10px auto;
    padding: 10px;

    position: relative;
}

#mainContainer .categories .cards{
    height: 180px;
    width: 200px;
    border: solid green;
    display: inline-block;
    margin: auto;

    position: relative;
}

#mainContainer .categories .cards button{
    position: absolute;
    bottom: 0px;
    right: 0px;
}